body {
    background-color: #e0a836;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}
p {
    margin-left: 170px;
    margin-right: 170px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    color:aliceblue;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 36px;
}
h2 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 24px;
}
li{
    margin-left: 100px;
}
.recipeby {
    background-color: #ECF0F1
}

